<link rel="stylesheet" type="text/css" href="/css/style.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Editar Produto</title>
</head>
<body>
    <div class="container">
        <h2>Editar Produto</h2>
        <form action="/products/edit/<%= product._id %>" method="POST">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" value="<%= product.name %>" required>

            <label for="description">Descrição:</label>
            <textarea id="description" name="description" required><%= product.description %></textarea>

            <button type="submit">Salvar mudanças</button>
        </form>
        <p><a href="/dashboard">Voltar para o Painel</a></p>
    </div>
</body>
</html>
